
.emoji-scale-div {
    height: 95px;
    width: 100%;
    margin: 0 auto;
}

.emoji-scale-item {
    border: solid 1px #fefefe;
    border-radius: 5px;
}

.text-scale-item {
    margin: 0 4px
}

.text-pointer-div {
    border-bottom: solid 3px #666;
}

.emoji-scale-div img {
    margin-top: 15px;
}

.triangle-down {
    width: 25px;
    height: 0;
    margin: 0 auto;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 55px solid #ffca2c;
    visibility: hidden;
  }

  /* canvas-container created bu fabric.js */
  .canvas-container {
      margin: 0 auto;
  }
