
@media only screen and (min-width: 800px) {
    .container {
        margin-top: 1rem;
    }
   
}

.page-content {
    display: none;
    min-height: 500px;
    /* border: solid 1px #eee;
    padding: 1ex; */
}

.container {
    background-color: #fefefe;
    border: solid 1px #eee;
    max-width: 1100px;
}

.jumbotron {
    padding: 1ex;
    margin: 1ex 0;
    color: white;
    background-color: rgb(0, 75, 142);
    font-family: 'NimbusSanNovCon-med', sans-serif;
    min-height: 50px;
}

.jumbotron h4 {
    margin-top: 0.5ex;
}

.english {
    font-family: 'NimbusSanNovCon-med', sans-serif;
    margin-top: 1ex;
    font-size: 2ex;
    color: white;
    
}

.te-reo {
    font-family: 'NimbusSanNovCon-med', sans-serif;
    color: #F9A100;
    font-size: 1.8ex;
}

.footer-logo {
    float: right;
    margin-top: 0.5ex;
}

.english a {
    color: white;
    text-decoration: none;
}

.te-reo a {
    color: #F9A100;
    text-decoration: none;
}

.english a:hover, .te-reo a:hover {
    color: #FDFCDC;
}